/* Colour Palette */
:root {
    --kaitoke-green: #003e29;
    --como: #467061;
    --sandal: #ad7c6a;
    --walnut: #975f4a;
    --grey: #bcbdbc;
    }

/* Styles: */

html{
    scroll-behavior: smooth;
}
body{
    text-align: center;
    background-color: var(--como);
    color: var(--sandal);
}
h1,h2,h3{
    color: var(--walnut);
}
#header{
    display: flex;
    position: sticky;
    margin: 0;
    padding: 10px;
    top: 0%;
    right: 0%;
    left: 0%;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--grey);
    z-index: 5;
}
footer{
    position: relative;
    bottom: 0;
}
.sites{
    color: var(--walnut);
}
#form{
    position: relative;
    display: flex;
    flex-direction: column;
}
#questions{
    display: flex;
    background-color: var(--grey);
    border-radius: 7px;
    width: 55%;
    height: 15rem;
    align-self: center;
}
#project-desc{
    left: 25%;
    right: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
input{
    position: relative;
    width: 8.75%;
    height: 1.7rem;
    left: 22.5%;
    border-radius: 5px;
}
button{
    width: 7.75%;
    height: 1.5rem;
}


